@font-face {
  font-family: "iconfont"; /* Project id 2678236 */
  src: url('iconfont.woff2?t=1627721318509') format('woff2'),
       url('iconfont.woff?t=1627721318509') format('woff'),
       url('iconfont.ttf?t=1627721318509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixupaihang:before {
  content: "\e654";
}

.icon-jia:before {
  content: "\e735";
}

.icon-jianqu:before {
  content: "\e736";
}

.icon-zengjia:before {
  content: "\e737";
}

.icon-xiaoxi1:before {
  content: "\e734";
}

.icon-fanhui:before {
  content: "\e733";
}

.icon-fanhui-copy:before {
  content: "\f4ce";
}

.icon-fenlei:before {
  content: "\e72b";
}

.icon-dianpu:before {
  content: "\e72c";
}

.icon-daifahuo:before {
  content: "\e72d";
}

.icon-daishouhuo:before {
  content: "\e72e";
}

.icon-gouwuche:before {
  content: "\e72f";
}

.icon-weizhi:before {
  content: "\e730";
}

.icon-quanbudingdan:before {
  content: "\e731";
}

.icon-daizhifu:before {
  content: "\e732";
}

.icon-shouye:before {
  content: "\e72a";
}

.icon-pingfen-half:before {
  content: "\e602";
}

.icon-dangqianweizhi:before {
  content: "\e6cb";
}

.icon-juli:before {
  content: "\e620";
}

.icon-wen:before {
  content: "\e65e";
}

.icon-tupian:before {
  content: "\e601";
}

.icon-pengyouquan:before {
  content: "\e690";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-zhifubaozhifu:before {
  content: "\e717";
}

.icon-weixinzhifu:before {
  content: "\e610";
}

.icon-zhaopian:before {
  content: "\e6d8";
}

.icon-shezhi:before {
  content: "\e606";
}

.icon-dizhi:before {
  content: "\e60c";
}

.icon-kefu:before {
  content: "\e60e";
}

.icon-zuji:before {
  content: "\e60f";
}

.icon-wode:before {
  content: "\f4cd";
}

